{% extends 'layout.html' %}
{% block content %}
<div class="form">
    <header class="text-center mb-2 pb-2">Reset Password</header>
    <form action="{{ url_for('forgot_password') }}" method="post" hx-post="{{ url_for('forgot_password') }}"
        hx-redirect="true">
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="Enter Email" required />
        </div>
        <button class="btn btn-primary w-100" type="submit">Send Reset Link</button>
    </form>
</div>


{% endblock content %}